@import "../../../App.scss";

.modal {

    .note {
        width: 220px;
        height: 150px;
        overflow: hidden;
        padding: 10px;
        background: lighten($secondary-accent-color, 10);
        border-radius: 10px;
        position: relative;
        transition: all 0.1s ease-out;

        .note-data {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            pointer-events: none;

            input,
            textarea {
                pointer-events: none;
                border: none;
                outline: none;
                background: none;

                &[name="title"] {
                    font-size: 1rem;
                    font-weight: 700;
                    width: 100%;
                    margin-bottom: 5px;
                }

                &[name="body"] {
                    font-size: 0.9rem;
                    font-weight: 400;
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    word-wrap: break-word;
                    resize: none;
                    color: #222222;
                }
            }


        }

        &:hover{
            box-shadow: 1px 1px 3px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 60px;
            bottom: 0;
            left: 0;
            background: lighten($secondary-accent-color, 10);
            background: linear-gradient(180deg, rgba(lighten($secondary-accent-color, 10), 0) 0%, rgba(lighten($secondary-accent-color, 10), 1) 70%);
        }


        .note-actions {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 1;
            opacity: 0;
            transition: all 0.2s ease-out;
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                width: 15px;
                height: 15px;
                pointer-events: none;
            }

            &:hover {
                background: darken($secondary-accent-color, 20);
            }
        }

        &:hover {
            .note-actions {
                opacity: 1;
            }
        }
    }
}

.modal-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .note {
        z-index: 4;
        width: 550px;
        height: 280px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: lighten($secondary-bg-color, 5);
        border-radius: 10px;

        &::after {
            display: none;
        }
        &:hover{
            box-shadow: 0 0 0;
        }
        .note-data {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;




            input,
            textarea {
                border: none;
                outline: none;
                background: none;
                pointer-events: all;

                &[name="title"] {
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 100%;
                    border-bottom: 1px solid $secondary-bg-color;
                    margin-bottom: 5px;
                }

                &[name="body"] {
                    font-size: 1rem;
                    font-weight: 400;
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    word-wrap: break-word;
                    resize: none;
                    color: #222222;
                }
            }


        }

        .note-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            border-top: 1px solid $secondary-bg-color;
            padding-top: 10px;

            .time-data {
                margin-top: auto;
                padding-left: 10px;

                span {
                    font-size: .8rem;
                    letter-spacing: 1px;
                    font-weight: 700;
                    color: #222;
                }
            }

            .note-actions {
                transition: all 0.2s ease-out;
                cursor: pointer;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
                position: static;

                .icon {
                    width: 15px;
                    height: 15px;
                    pointer-events: none;
                }

                &:hover {
                    background: darken($secondary-bg-color, 20);
                }
            }
        }



    }

}