@import "../../App.scss";

.auth {
    width: 100%;
    height: 100vh;
    background: #f7d390;
    background: radial-gradient(circle, #f7d390 0%, #94bbe9 100%); 
    display: flex;
    align-items: center;
    justify-content: center;

    .form-section {
        width: 450px;
        height: 600px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        .loading-screen {
            position : absolute;
            top: 0;
            left : 0;
            width : 100%;
            height : 100%;
            background: rgba(#000, 0.2);
            display : flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:2rem;
            width: 100%;
            height: 100%;

            .logo-section {
                height: 15%;
                
                h2, .icon{
                    margin-top: auto;
                }
                h2{
                    color : #000;
                }
            }

            .form-body {
                display: flex;
                flex-direction: column;
                margin: auto 0;
                height: auto;

                .name-inputs {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .form-input {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    &.nameInput {
                        width: 50%;
                    }

                    h4 {
                        font-size: 0.8rem;
                        margin-bottom: 8px;
                        color: rgb(46, 46, 46);
                    }

                    input {
                        font-size: 1rem;
                        padding: 0.8rem 0.5rem;
                        margin-bottom: 1rem;
                        background: lighten($secondary-bg-color-light, 3);
                        border: 1px solid darken($secondary-bg-color-light, 20);
                    }

                }

                .error-message {
                    text-align: center;

                    span {
                        color: red;
                        font-size: 1rem;

                    }
                }
                .btn {
                    width: 100%;
                    padding : 0.8rem;
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-top: 1rem;
                    border: none;
                    cursor: pointer;

                }

                .submit-btn {

                    .btn {
                        font-size: 1rem;
                        background-color: $primary-accent-color;
                        
                    }
                }

                span{
                    text-align : center;
                    font-size : 1.2rem;
                    font-weight: 600;
                    margin: 1rem 0;

                }



                .switch-btn {
                    
                    button {           
                        background: darken($secondary-bg-color-light, 5);
                    }
                }

                .google-btn{
                    padding: 0;

                    button{
                        display : flex;
                        align-items: center;
                        justify-content: center;
                        background: none;
                        border : 1px solid rgb(87, 87, 87);
                        margin-top: 0;
                        width: 100%;

                        .google-icon{
                            margin-right : 12px;
                        }
                    }
                }
            }

        }

    }

}

@media screen and(max-width : $xSmallScreen) {
    .auth {
        .form-section {
            height: 100%;
            width: 100%;
        }

    }
}