@import "../../App.scss";

.auth {
    width: 100%;
    height: 100vh;
    position: relative;

    .background {
        width: 100%;
        height: 100%;
        background: url("./background.png");
        background-position: center;
        background-size: cover;
        position: relative;

        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.6);
        }
    }

    .form-section {
        position: absolute;
        left: 0;
        top: 0;
        width: 400px;
        height: 100%;
        background: #fff;

        .form{
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            height : 100%;

            .logo {
                display : flex;
                flex-direction: row;
                align-items: center;
                height : 100px;
                margin-top : 30px;
                width : 100%;
                justify-content: center;

                .icon{
                    margin-right : 20px;
                    fill : $secondary-accent-color;
                }
                h1 {
                    color: black;
                    font-size: 3rem;
                    letter-spacing: 2px;
    
                }
            }

            .form-title {
                height: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
    
                h1 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
            }

            .form-body{
                display : flex;
                flex-direction: column;
            
                    .name-inputs {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
            
                    .form-input {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        &.nameInput{
                            width : 50%;
                        }
            
                        h4 {
                            font-size: 14px;
                            margin-bottom: 4px;
                            color: #111;
                        }
            
                        input {
                            font-size: 14px;
                            padding: 0.4rem ;
                            margin-bottom: 14px;
                            // outline: none;
                        }
            
                    }
            
                    .submit-btn {
                        margin-top: 20px;
            
                        .btn {
                            width: 100%;
                            height: 40px;
                            background-color: $primary-accent-color;
                            font-size: 1.2rem;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
            
                
            
                .switch-form {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 5px;
            
                    button {
                        background: none;
                        // outline: none;
                        border: none;
                        color: rgb(0, 81, 255);
                        text-decoration : underline;
                        font-size: 16px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }

        }

    }

    .slogan-side {
        position: absolute;
        width: calc(100% - 400px);
        height: 100%;
        right: 0;
        top: 0;
        padding: 3rem;
        display : flex;
        align-items : center;
        justify-content: center;  

        .slogan-typo {
            width: 450px;
            color : $primary-accent-color;
            letter-spacing: 2px;
            line-height : 5.5rem;

            h4{
                font-size : 3.5rem;
            }

            span{
                font-size : 2rem;
                font-weight: 400;
                color : white;
            }
            
        }
    }
}

@media screen and(max-width : 900px){
    .auth {

        .form-section {
            width: 300px;
    
            .form{
                width: 80%;
    
                .form-body{             

                
                        .form-input {
 
                            h4 {
                                font-size: 12px;
                            }
                
                            input {
                                font-size: 14px;
                                padding: 0.4rem 0.4rem;

                            }
                
                        }
                
                        .submit-btn {
                            margin-top: 15px;
                
                            .btn {
                                height: 30px;
                            }
                        }
                
                }
            }
    
    
        }
    
        .slogan-side {
            width: calc(100% - 300px);
    
            .slogan-typo {
                width: 350px;
                letter-spacing: 2px;
                line-height : 5rem;
    
                h4{
                    font-size : 2.5rem;
                }
    
                span{
                    font-size : 1.8rem;
                }
            }
        }
    }
}

@media screen and(max-width : 687px){
    .auth {


        .form-section {
            top : 50%;
            left : 50%;
            transform : translate(-50%, -50%);
            height : 500px;

    
            .form{
                .logo {   
                    height : 60px;
                    margin-top : 30px;
    
                    .icon{
                        margin-right : 20px;
                        fill : $secondary-accent-color;
                        width : 30px;
                        height : 30px;
                    }
                    h1 {
                        color: black;
                        font-size: 2.4rem;
                        letter-spacing: 2px;
        
                    }
                }

                .form-title {
                    height: 40px;
                    margin-bottom: 20px;
        
                    h1 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    
        .slogan-side {
            display : none;

        }
    }
}