@import '../../App.scss';

.home {
    .header {
        position: fixed;
        z-index: 2;
    }

    .home-body {
        display: flex;
        flex-direction: row;

        .sidebar-container {
            height: calc(100vh - 70px);
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 2;
        }

        .main-container {
            width : calc(100% - 350px);
            margin: 70px 0 0 auto;
            padding: 2rem;
        }
    }
}