@import '../../App.scss';

.notes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-container {
            width: 500px;
            // height: 200px;

            form {
                display: flex;
                flex-direction: column;
                background-color :lighten($secondary-bg-color, 5);
                height: 100%;
                width: 100%;
                padding : 10px;
                border-radius: 10px;
                border : 1px solid $secondary-bg-color;
                input, textarea {
                    border: none;
                    outline: none;
                    background: none;

                    &[name="title"]{
                        font-size : 1.2rem;
                        font-weight: 700;
                        width : 100%;
                        border-bottom : 1px solid $secondary-bg-color;
                        margin-bottom : 5px;
                    }

                    &[name="body"]{
                        font-size : 1rem;
                        font-weight: 400;
                        width : 100%;
                        height : auto;
                        overflow : hidden;
                        word-wrap: break-word;
                        resize: none;
                        color : #222222
                    }
                }

                button {
                    font-size: 1rem;
                    letter-spacing: 1px;
                    font-weight: 700;
                    padding: 0.5rem 1rem;
                    background: $secondary-accent-color;
                    width: 80px;
                    border-radius: 5px;
                    align-self: flex-end;
                    margin-top: auto;
                }
            }
        }
    }
}