@import '../../../App.scss';

$incompleted : #f39595;
$completed : #90f0a5;

.modal {
    .task.incompleted {
        background: $incompleted;
    
    
        .item-footer{
            background: $incompleted;
            background: linear-gradient(180deg, $incompleted 0%, $incompleted 70%);

            .modal-actions{

                .modal-action {
                    
                    &:hover {
                        background: darken($incompleted, 15);
                    }
                }
            }
        }
    }
}

.modal {
    .task.completed {
        background: $completed;
        .item-footer{
            background: $completed;
            background: linear-gradient(180deg, $completed 0%,$completed 70%);
    
            .modal-actions{
    
                .modal-action {
                    
                    &:hover {
                        background: darken($completed, 15);
                    }
                }
            }
        }
    }


}
.modal-open{
    .task.completed, .task.incompleted{
        background-color: lighten($secondary-bg-color, 5);

        .item-footer{
            background : none;

            .modal-actions{
    
                .modal-action {
                    
                    &:hover {
                        background: darken($secondary-bg-color, 10);
                    }
                }
            }
        }
    }
}