//* Main Colors
$logo-color : #4a76f0;
$primary-accent-color : #97adf3;


//* light theme colors
$primary-bg-color-light : #ffffff;
$secondary-bg-color-light : #ebebeb;
$header-color-light : #f8f8f8;
$text-color-light : #0f0f0f;
$border-color-light : #A7A7A7;
$note-color-light : #fde454;
$task-completed-color-light : #beffa6;
$task-incompleted-color-light : #fcc4c4;



//* dark theme colors
$primary-bg-color-dark : #202020;
$secondary-bg-color-dark : #3d3d3d;
$header-color-dark : #1d1d1d ;
$text-color-dark : #ececec;
$border-color-dark : #C8C8C8;
$note-color-dark : #918506;
$task-completed-color-dark : #2b5a37;
$task-incompleted-color-dark : #552f2f;
 

//* Breakpoints
$xLargeScreen : 1600px;
$largeScreen : 1366px;
$mediumScreen : 1024px;
$smallScreen : 768px;
$xSmallScreen : 560px;

//* Sizes
$headerHeight : 70px;
$sidebarWidth : 260px;



@mixin formWidth() {
    @media screen and (max-width: $largeScreen) {
        width : 500px;
    }
    
    @media screen and (max-width: $mediumScreen) {
        width : 60vw;
    }

    @media screen and (max-width: $xSmallScreen) {
        width : 300px;
    }
}


@mixin itemWidth() {
    @media screen and (max-width: $mediumScreen) {
        width : 60vw;
    }
    
    
    @media screen and (max-width: $xSmallScreen) {
        width : 300px;
    }
}