
//* Colors
$primary-bg-color : #fefefe;
$secondary-bg-color : #f1f1f1;
$contrasting-color : #111111;
$primary-accent-color : #94e6bb;
$secondary-accent-color : #ee9b00;
$note-accent-color : #e9c80c;


//* Breakpoints
$xLargeScreen : 1600px;
$largeScreen : 1280px;
$mediumScreen : 1024px;
$smallScreen : 768px;
$xSmallScreen : 640px;

//* Sizes
$headerHeight : 70px;
$sidebarWidth : 250px;