* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.btn {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.1s all ease-out;

    &:active {
        transform: scale(0.96);
    }
}