@import 'vars';

:root {
    --primary-background-color : #{$primary-bg-color-light};
    --secondary-background-color : #{$secondary-bg-color-light};
    --text-color : #{$text-color-light};
    --header-color : #{$header-color-light};
    --border-color : #{$border-color-light};
    --note-color : #{$note-color-light};
    --task-completed-color : #{$task-completed-color-light};
    --task-incompleted-color : #{$task-incompleted-color-light};
    --reminder-color : #{$reminder-color-light};
    --reminder-passed-color : #{$reminder-passed-color-light};
}

.dark {
    --primary-background-color : #{$primary-bg-color-dark};
    --secondary-background-color : #{$secondary-bg-color-dark};
    --text-color : #{$text-color-dark};
    --border-color : #{$border-color-dark};
    --header-color : #{$header-color-dark};
    --note-color : #{$note-color-dark};
    --task-completed-color : #{$task-completed-color-dark};
    --task-incompleted-color : #{$task-incompleted-color-dark};
    --reminder-color : #{$reminder-color-dark};
    --reminder-passed-color : #{$reminder-passed-color-dark};
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--primary-background-color);
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s ease-out;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
textarea {
    color: var(--text-color);

}


button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.1s all ease-out;

    &:active {
        transform: scale(0.96);
    }
}

input[type=text],
textarea {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;


}


.icon {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .logo-icon {
        margin-right: 15px;
        width: 40px;
        height: 40px;
        fill: $logo-color;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 2px;

    }
}

.items-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.tab-page {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-container {
            width: 50%;
            @include formWidth;
            height: auto;

            form.input-form {
                display: flex;
                flex-direction: column;
                background: var(--secondary-background-color);
                height: auto;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 1px 1px 4px;

                input,
                textarea {
                    border: none;
                    outline: none;
                    background: none;

                    &[name="title"],
                    &[name="task"] {
                        font-size: 1.2rem;
                        font-weight: 700;
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);
                        margin-bottom: 5px;

                        &::placeholder {
                            color: var(--text-color);
                            opacity: 0.5;
                        }
                    }

                    &[name="body"],
                    &[name="description"] {
                        font-size: 1rem;
                        font-weight: 400;
                        width: 100%;
                        height: auto;
                        max-height: 200px;
                        overflow: auto;
                        word-wrap: break-word;
                        resize: none;

                        &::placeholder {
                            color: var(--text-color);
                            opacity: 0.5;
                        }
                    }
                }

                .form-footer {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;

                    button {
                        font-size: 1rem;
                        letter-spacing: 1px;
                        font-weight: 700;
                        padding: 0.5rem 1rem;
                        background: $primary-accent-color;
                        width: 80px;
                        border-radius: 5px;
                        align-self: flex-end;
                        margin-top: auto;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

.empty {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;

    .icon {
        width: 50px;
        height: 50px;
        margin: 10px;
        fill: var(--border-color);
    }

    .typo {
        line-height: 3rem;

        h4 {
            color: var(--border-color);
            font-size: 1.4rem;
        }
    }
}

.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    svg.MuiCircularProgress-svg {
        color: var(--border-color);
    }
}

.modal {

    .item {
        width: 400px;
        @include itemWidth;
        height: 200px;
        overflow: hidden;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        animation: load-items 0.2s;

        &-data {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            pointer-events: none;

            input,
            textarea {
                pointer-events: none;
                border: none;
                outline: none;
                background: none;

                &[name="title"],
                &[name="task"] {
                    font-size: 1rem;
                    font-weight: 700;
                    width: 100%;
                    margin-bottom: 5px;
                }

                &[name="body"],
                &[name="description"] {
                    font-size: 0.9rem;
                    font-weight: 400;
                    width: 100%;
                    overflow: hidden;
                    word-wrap: break-word;
                    resize: none;
                }
            }


        }

        &:hover {
            box-shadow: 1px 1px 3px;
        }

        .item-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1;
            // transition: background 0.2s linear;
            width: 100%;
            height: 60px;
            pointer-events: none;

            .time-data {
                opacity: 0;
                pointer-events: none;
            }

            .modal-actions {
                width: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                opacity: 0;
                transition: all 0.2s ease-out;
                margin-right : 10px;

                .modal-action {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-left: 10px;
                    cursor: pointer;
                    pointer-events: all;
                    transition: all 0.2s ease-out;

                    .icon {
                        width: 20px;
                        height: 20px;
                        pointer-events: none;

                    }
                }

            }
        }

        &:hover {
            .item-footer {
                .modal-actions {
                    opacity: 1;
                }
            }
        }
    }
}

.modal-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
        z-index: 4;
        width: 550px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        margin: 0 30px;
        animation: open-modal 0.2s;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: 0 0 0;
        }

        &-data {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;


            input,
            textarea {
                border: none;
                outline: none;
                background: none;
                pointer-events: all;

                &[name="title"],
                &[name="task"] {
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 100%;
                    border-bottom: 1px solid var(--border-color);
                    margin-bottom: 5px;
                }

                &[name="body"],
                &[name="description"] {
                    font-size: 1rem;
                    font-weight: 400;
                    width: 100%;
                    height: fit-content;
                    max-height: 400px;
                    overflow: auto;
                    word-wrap: break-word;
                    resize: none;
                }
            }


        }

        .item-footer {
            position: relative;
            padding-top: 10px;
            opacity: 1;
            background: none;

            .time-data {
                padding-left: 10px;
                opacity: 1;

                span {
                    font-size: .7rem;
                    letter-spacing: 1px;
                    font-weight: 700;
                }
            }

            .modal-actions {

                .modal-action {
                    opacity: 1;

                }
            }

        }



    }

}

@keyframes load-items {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes open-modal {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}


@media screen and(max-width : $smallScreen) {
    .modal {

        .item {

            .item-footer {
                pointer-events: all;

                .modal-actions {

                    opacity: 1;

                    .modal-action {
                        pointer-events: all;

                        .icon {

                            pointer-events: none;
                        }
                    }

                }
            }

        }
    }
}

@media screen and (max-width : $xSmallScreen) {

    .items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .empty {

        .icon {
            width: 40px;
            height: 50px;
        }

        .typo {
            line-height: 3rem;

            h4 {
                font-size: 1.5rem;
            }

            h5 {
                font-size: 1.2rem;
            }
        }
    }

    .modal-open {

        .item {

            &-data {

                input,
                textarea {

                    &[name="body"],
                    &[name="description"] {

                        max-height: 250px;

                    }
                }
            }

        }

    }
}