$primary-bg-color : #fefefe;
$secondary-bg-color : #eaeaea;
$contrasting-color : #111111;
$primary-accent-color : #FF5C00;
$secondary-accent-color : #B2DDC6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html{
    overflow-x : hidden;
}
body {
    background : $primary-bg-color;
}

button{
    background : none;
    outline : none;
    border : none;
    cursor: pointer;
    transition: 0.1s all ease-out;
    
    &:active {
        transform: scale(0.96);
    }
}

input[type=text], textarea{
    padding : 0.4rem 0.6rem;
    outline : none;
    font-size : 1rem;
}


.icon{
    width : 40px;
    height : 40px;
    fill : $contrasting-color;
}

.items-container{
    margin-top : 30px;
    display : grid;
    grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
    gap: 1rem;

}