@import '../../App.scss';

.switcher{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .switch-container{
        width : 40px;
        height : 16px;
        background-color: rgba(85, 85, 85, 0.63);
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        margin: 0 20px;
        transition : all 0.2s ease-out;

        .toggler{
            transition : all 0.2s ease-out;
            width : 24px;
            height : 24px;
            border-radius: 50%;
            background : #000;
            position: absolute;
            top: -4px;
            left: -8px;
            background-color: #000;
        }
        .toggler-right{
            transform : translateX(32px);
            background : $primary-accent-color;
      
        }

        &.disable{
            pointer-events: none;
            opacity: 0.4;
        }
    }
}